* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #212730;
  color: #fcfcfc;
}

header {
  top: 0;
  position: fixed;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-container {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.nav-links li {
  font-weight: 400;
  font-size: 1rem;
  position: relative;
}

.nav-button {
  background: #8e2de2;
  background: linear-gradient(
    90deg,
    rgba(142, 45, 226, 1) 0%,
    rgba(74, 0, 224, 1) 100%
  );
  color: white;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}
